<!DOCTYPE html>
    <html lang="en">
        <head>


            <title>Colette Beaumont</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="./docs/css/stylesheet.css" />
            <link href="https://fonts.googleapis.com/css?family=Allura|Kalam|Nanum+Pen+Script&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">
    
            
        </head>

        <body>
                
    <div class="container">
        <div class="row">
            <div class="col sidepanel">
                <h1>Colette <span>Beaumont</span></h1>
                <img src="../docs/img/profile.jpg" class="img-fluid rounded-circle" />

                <div class="nav flex-column nav-pills red-nav">
                    <a class="nav-link active" href="index.html"><i class="fas fa-code"></i> Blog</a>
                    <a class="nav-link" href="projects.html" ><i class="fab fa-linode"></i> Projects</a>
                    <a class="nav-link" href="contact.html"><i class="far fa-address-book"></i> About</a>
                </div>

                <div class="buttons">
                    <p>
                            <a href="https://www.facebook.com/">
                                <img border="0" alt="Facebook" src="../docs/img/social_media/facebook.png" width="100" height="100">
                            </a>
                            <a href="https://www.github.com/">
                                <img border="0" alt="GitHub" src="../docs/img/social_media/github.png" width="100" height="100">
                            </a>
                            <a href="https://www.google.com/">
                                    <img border="0" alt="Facebook" src="../docs/img/social_media/google.png" width="100" height="100">
                            </a>
                            <a href="https://www.instagram.com/">
                                <img border="0" alt="Facebook" src="../docs/img/social_media/instragram.png" width="100" height="100">
                            </a>
                            <a href="https://www.twitter.com/">
                                <img border="0" alt="Facebook" src="../docs/img/social_media/twitter.png" width="100" height="100">
                            </a>
                            <a href="https://www.youtube.com/">
                                <img border="0" alt="Facebook" src="../docs/img/social_media/youtube.png" width="100" height="100">
                            </a>
                    </p>
                </div>
            </div>


            